/* Header */

header {
	background-color: #ffffff;
	color: #000000;
	display: inline-block;
	align-items: center;
	justify-content: space-between;
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.logo {
	font-size: clamp( 1.4rem, 3vw, 1.4rem);
	display: inline-block;
	width: 100%;
	text-align: middle;
	text-decoration: none;
	font-weight: 1000;
	letter-spacing: .3rem;
}

/* .logo img {
	height: clamp( 2.7rem, 5vw, 5rem);
	display: inline-block;
} */

/* Desktop Menu */

nav ul {
	display: none; /* Hide on Mobile */
}

@media (min-width: 600px) {
	nav ul {
		list-style: none;
		display: flex;
		align-items: center;
		margin: 0;
		padding: .3rem;
	}
	}

/* Desktop Menu Styling*/

nav ul li {
	margin: 0 75px;
	padding-top: 3vh;
}

nav ul li a {
	color: #000000;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: clamp( 1rem, 3vw, 1rem);
	font-weight: 600;
}

nav ul li a:hover{
	color:#a0a0a0
}

/* Barra Divisora */

hr {
	width: 100%;
	height: .1px;
	color: #000000;
	background-color: #000000;
}

/* Toggle Hamburger */

#toggle {
  display: none;
}

/* Hamburger */

@media (min-width: 600px) {
	.hamburger {display: none; /* Hide on Mobile */
	}
	}

.hamburger {
  position: absolute;
  top: 5.3vh;
  right: 3vh;
  margin: auto;
  width: 2em;
  height: 45px;
  z-index: 5;
}

.hamburger div {
  position: relative;
  width: 2em;
  height: 1px;
  border-radius: 1px;
  background-color: #000000;
  margin-bottom: 8px;
  transition: all 0.2s ease-in-out;
}

/* Mobile Menu */

.menu {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	top: 0; left: 0; right: 0; bottom: 0;
	overflow: hidden;
	transition: all 0s ease-in-out;
	transform: scale(0);

  }
.menu-wrapper {
	position: absolute;
	overflow: hidden;
	overflow-y: auto;
	margin: auto;
	height: 100%;
	top: 50%; left: 0; right: 0; bottom: 0;

  }
.menu a {
	position: relative;
	text-decoration: none;
	color: #000000;
	font-size: 1em;
	display: inline-block;
	margin-bottom: 2em;
	transition: color 0.2s ease-in-out;
	letter-spacing: 1px;
	font-weight: 600;
  }
.menu a:before {
	content: '';
	height: 0;
	position: absolute;
	width: 0.25em;
	background-color: rgb(255, 255, 255);
	left: -0.5em;
	transition: all 0.2s ease-in-out;
	}
.menu a:hover {
	color: rgb(0, 0, 0);
  }
.menu a:hover:before {
	height: 100%;
  }

/* Animations Mobile Menu */
#toggle:checked + .hamburger .top-bun {
	transform: rotate(-45deg);
	margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
	opacity: 0;
	transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
	transform: rotate(45deg);
	margin-top: -8.5px;
  }
  
  #toggle:checked + .hamburger + .menu {
	top: 0;
	transform: scale(1);
  }

/* Body */

body {
	height: 100%;
    background-color: #ffffff;
    margin: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}

img {
    max-width: 100%;
    margin-bottom: 0.5rem;
    display: block;
}

/* Paginas */

.coleccion {
	width: 95%; 
	margin: 0 auto;
	display: inline-block; 
}

.coleccion img {
	width: 100%;
	max-height: 50vh;
	/* height: 1080px; */
	object-fit: contain;
	display: inline-block; 
}

.about {
	width: 80%;
	margin: 0 auto;
}

.about-text {
	font-size: clamp( .5rem, 3vw, 1rem);
	display: inline-block;
	width: 100%;
	text-align: left;
	text-decoration: none;
	font-weight: 600;
	line-height: 1.7rem; 
}

.about-img img {
	display: inline-block;
	text-align: center;
	height: 200px;
	padding-top: 5%;
}

.contact {
	width: 80%;
	margin: 0 auto;
}

.contact-text {
	font-size: clamp( 1rem, 3vw, 1rem);
	display: inline-block;
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	padding-top: 5%;
	line-height: 5vh;
}

a {
    color: #000000;
    text-decoration: none;
}

.producto {
	width: 70%; 
	margin: 0 auto;
	display: inline-block; 
}

.producto img {
	width: 100%;
	max-height: 800px;
	/* height: 1080px; */
	object-fit: contain;
	display: inline-block; 
}

.producto-text{ 
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	font-size: clamp( 1rem, 3vw, 1rem);
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	/* padding-top: 5%;  */
}

/* Background */

.background {
	/* width: 100%; */
	height: 80vh;
	background-position: 50%;
	background-image: url("images/background_2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	}

h5 {
	margin: .25rem;
	padding: .25rem;
}

h3 {
	margin: .25rem;
	padding: .25rem;
}




.coleccion_test {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding-left: 5%;
	padding-right: 5%;
}
	  
.coleccion_test img {
	width: 100%;
}
	  
	  
.coleccion_test .item {
	position: relative;
	overflow: hidden;		
}
	  
.coleccion_test .item img {
	vertical-align: middle;	
}
